*.Rproj.user
*.Rhistory
*.RData
*.Ruserdata
.Rproj.user
.Rproj.user/
*.DS_Store
.Rhistory
.Rdata
.httr-oauth
.DS_Store
.quarto

/.quarto/

# We want to include docs/ directory for GitHub Pages
# Don't exclude docs/
# docs/

# R package build files
*.tar.gz
*.tgz
*.Rcheck/
.Rcheck/
/revdep/

# Some common temporary files
*~
.Rapp.history